<? INC DocType.tmpl ?>
<? ADDROW CSSLoop HREF=/skinfiles/_default_/bootstrap.min.css ?>
<? ADDROW CSSLoop HREF=/skinfiles/_default_/selectize.bootstrap3.css ?>
<? ADDROW CSSLoop HREF=/skinfiles/_default_/font-awesome.min.css ?>
<? ADDROW JSLoop HREF=/skinfiles/_default_/jquery.min.js ?>
<? ADDROW JSLoop HREF=/skinfiles/_default_/bootstrap.min.js ?>
<? ADDROW JSLoop HREF=/skinfiles/_default_/selectize.min.js ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="UTF-8" />
	<title>EpicBNC &mdash; <? VAR Title DEFAULT="Home" ?></title>
    <link rel="apple-touch-icon" sizes="57x57" href="/pub/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/pub/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/pub/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/pub/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/pub/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/pub/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/pub/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/pub/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/pub/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/pub/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/pub/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/pub/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/pub/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/pub/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/pub/manifest.json">
    <link rel="mask-icon" href="/pub/safari-pinned-tab.svg" color="#1f5b05">
    <meta name="apple-mobile-web-app-title" content="EpicBNC">
    <meta name="application-name" content="EpicBNC">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/pub/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<? LOOP CSSLoop ?>
	<?IF HREF?><link rel="stylesheet" type="text/css" href="<? VAR URIPrefix TOP ?><? VAR HREF ?>" /><?ENDIF?>
	<?ENDLOOP?>
	<? LOOP JSLoop ?>
	<?IF HREF?><script type="text/javascript" src="<? VAR URIPrefix TOP ?><? VAR HREF ?>"></script><?ENDIF?>
	<?ENDLOOP?>
	 <? INC ExtraHeader.tmpl ?>
</head>
<body>
	<? INC Navbar.tmpl ?>
	<? INC Banner.tmpl ?>
	<? INC MessageBar.tmpl ?>
	<? INC LoginBar.tmpl ?>
	<? REM ?>
		In your subpage (module page or static page) you'll probably want to do something like this...
			<? INC Header.tmpl ?>
				This is my <b>super</b> cool sub page!
			<? INC Footer.tmpl ?>
		If you'd like to add your own local css file to be included after the global main.css, you can make your own Header.tmpl like so...
			<? ADDROW CSSLoop HREF=/pub/your_local.css ?>
			<? ADDROW JSLoop HREF=/pub/your_local.js ?>
			<? INC BaseHeader.tmpl ?>
	<? ENDREM ?>
	<? INC BreadCrumbs.tmpl ?>
